In [1]:
import pandas as pd
import numpy as np

In [4]:
sdac_df = pd.read_csv("sda_contacts.csv", index_col = "id")
sdac_df.head(10)

,uuid,tenant_id,asset_id,asset2_id,tag,tag_detected,alert_level,contact_date,average_distance,average_duration,extra_attributes,created_at,updated_at,deleted_at,contact_count
id,,,,,,,,,,,,,,,
406016,ba574ee8-cb4e-4812-9aff-895701b25c0a,56,902.0,1361.0,62225,32500,1,2021-04-19,1.0,0.0,NaN,2021-04-19 08:00:51,2021-04-19 12:50:42,NaN,52
406272,4d719ab9-cac9-4be5-8b8b-6343cbef5130,56,1085.0,887.0,39441,33592,1,2021-04-19,67.0,8.0,NaN,2021-04-19 08:45:17,2021-04-19 09:25:54,NaN,2
406528,b8a163db-8f24-4267-a25e-08f2a81685cd,56,894.0,1360.0,27840,55524,1,2021-04-19,0.0,4.0,NaN,2021-04-19 11:51:38,2021-04-19 11:51:38,NaN,1
406784,a43cadca-e033-4aae-875d-cf32c1c97249,56,794.0,887.0,4479,33592,1,2021-04-19,100.0,5.0,NaN,2021-04-19 14:07:02,2021-04-19 14:07:02,NaN,1
409600,7a2aa72d-f0d3-451d-a785-b0df70e5f674,56,1197.0,1815.0,16454,37339,1,2021-04-19,8.0,1.0,NaN,2021-04-19 14:59:02,2021-04-19 21:13:11,NaN,14
410368,0d1c4e6b-c9c2-4649-bc76-41a09acae405,56,1729.0,1703.0,49553,58889,1,2021-04-19,0.0,0.0,NaN,2021-04-19 15:01:29,2021-04-19 22:01:30,NaN,26
411904,e52c4848-c9f7-4243-9b40-649a05402a09,56,1951.0,1536.0,19962,32311,1,2021-04-19,0.0,1.0,NaN,2021-04-19 15:06:40,2021-04-19 20:42:29,NaN,17
412160,cef04d17-bc48-456c-81cb-bf77b514a84b,56,1712.0,1732.0,1870,28108,1,2021-04-19,0.0,7.0,NaN,2021-04-19 15:07:45,2021-04-19 15:07:45,NaN,1
417536,893f8fdc-e1ac-4d48-a490-1007d9f20da3,56,1754.0,1554.0,11427,33088,1,2021-04-19,0.0,0.0,NaN,2021-04-19 15:33:47,2021-04-19 21:56:01,NaN,25
418048,9f1a194a-279c-431e-b378-4eadd806ae5a,56,798.0,969.0,2802,9993,1,2021-04-19,100.0,8.0,NaN,2021-04-19 15:36:18,2021-04-19 15:36:18,NaN,1

In [5]:
print(sdac_df.shape)
print("--------------")
print(sdac_df.columns)
print("--------------")
print(sdac_df.info())

(438661, 15)
--------------
Index(['uuid', 'tenant_id', 'asset_id', 'asset2_id', 'tag', 'tag_detected',
       'alert_level', 'contact_date', 'average_distance', 'average_duration',
       'extra_attributes', 'created_at', 'updated_at', 'deleted_at',
       'contact_count'],
      dtype='object')
--------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 438661 entries, 406016 to 201470
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   uuid              438661 non-null  object
 1   tenant_id         438661 non-null  int64
 2   asset_id          382598 non-null  float64
 3   asset2_id         309296 non-null  float64
 4   tag               438661 non-null  int64
 5   tag_detected      438661 non-null  int64
 6   alert_level       438661 non-null  int64
 7   contact_date      438661 non-null  object
 8   average_distance  438660 non-null  float64
 9   average_duration  438660 non-null  float64
 10  extra_attributes  0 non-null       float64
 11  created_at        438661 non-null  object
 12  updated_at        438661 non-null  object
 13  deleted_at        0 non-null       float64
 14  contact_count     438661 non-null  int64
dtypes: float64(6), int64(5), object(4)
memory usage: 53.5+ MB
None

In [6]:
nullvalue_sum = sdac_df.isna().sum()
nullvalue_sum[0:]

uuid                     0
tenant_id                0
asset_id             56063
asset2_id           129365
tag                      0
tag_detected             0
alert_level              0
contact_date             0
average_distance         1
average_duration         1
extra_attributes    438661
created_at               0
updated_at               0
deleted_at          438661
contact_count            0
dtype: int64

In [8]:
sdac_clean = sdac_df.dropna(axis = 1, how = "all")
print(sdac_clean.shape)
print("----------------")
print(sdac_clean.info())

(438661, 13)
----------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 438661 entries, 406016 to 201470
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   uuid              438661 non-null  object
 1   tenant_id         438661 non-null  int64
 2   asset_id          382598 non-null  float64
 3   asset2_id         309296 non-null  float64
 4   tag               438661 non-null  int64
 5   tag_detected      438661 non-null  int64
 6   alert_level       438661 non-null  int64
 7   contact_date      438661 non-null  object
 8   average_distance  438660 non-null  float64
 9   average_duration  438660 non-null  float64
 10  created_at        438661 non-null  object
 11  updated_at        438661 non-null  object
 12  contact_count     438661 non-null  int64
dtypes: float64(4), int64(5), object(4)
memory usage: 46.9+ MB
None

In [9]:
sdac_clean.head(10)

,uuid,tenant_id,asset_id,asset2_id,tag,tag_detected,alert_level,contact_date,average_distance,average_duration,created_at,updated_at,contact_count
id,,,,,,,,,,,,,
406016,ba574ee8-cb4e-4812-9aff-895701b25c0a,56,902.0,1361.0,62225,32500,1,2021-04-19,1.0,0.0,2021-04-19 08:00:51,2021-04-19 12:50:42,52
406272,4d719ab9-cac9-4be5-8b8b-6343cbef5130,56,1085.0,887.0,39441,33592,1,2021-04-19,67.0,8.0,2021-04-19 08:45:17,2021-04-19 09:25:54,2
406528,b8a163db-8f24-4267-a25e-08f2a81685cd,56,894.0,1360.0,27840,55524,1,2021-04-19,0.0,4.0,2021-04-19 11:51:38,2021-04-19 11:51:38,1
406784,a43cadca-e033-4aae-875d-cf32c1c97249,56,794.0,887.0,4479,33592,1,2021-04-19,100.0,5.0,2021-04-19 14:07:02,2021-04-19 14:07:02,1
409600,7a2aa72d-f0d3-451d-a785-b0df70e5f674,56,1197.0,1815.0,16454,37339,1,2021-04-19,8.0,1.0,2021-04-19 14:59:02,2021-04-19 21:13:11,14
410368,0d1c4e6b-c9c2-4649-bc76-41a09acae405,56,1729.0,1703.0,49553,58889,1,2021-04-19,0.0,0.0,2021-04-19 15:01:29,2021-04-19 22:01:30,26
411904,e52c4848-c9f7-4243-9b40-649a05402a09,56,1951.0,1536.0,19962,32311,1,2021-04-19,0.0,1.0,2021-04-19 15:06:40,2021-04-19 20:42:29,17
412160,cef04d17-bc48-456c-81cb-bf77b514a84b,56,1712.0,1732.0,1870,28108,1,2021-04-19,0.0,7.0,2021-04-19 15:07:45,2021-04-19 15:07:45,1
417536,893f8fdc-e1ac-4d48-a490-1007d9f20da3,56,1754.0,1554.0,11427,33088,1,2021-04-19,0.0,0.0,2021-04-19 15:33:47,2021-04-19 21:56:01,25
418048,9f1a194a-279c-431e-b378-4eadd806ae5a,56,798.0,969.0,2802,9993,1,2021-04-19,100.0,8.0,2021-04-19 15:36:18,2021-04-19 15:36:18,1

In [10]:
sdac_clean.to_csv("Cleaned_csv_file/SDA_contacts.csv")